.box-conta {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0px auto;
}

.box {
    border: 2px solid #b7b7b7;
    border-radius: 8px;
    padding: 25px;
    width: 40%;
    text-align: center;
    color: #393939;
    margin-top: 50px;
}

#titulo {
    font-size: 2em;
    color: #393939;
    text-transform: uppercase;
    text-align: center;
    margin-top: 60px;
}

#titulo-box-entrar, #titulo-box-cadastrar {
    font-size: 18px;
    font-weight: bold;
    color: #393939;
    margin-bottom: 15px;
    text-align: center;
}

#texto-box-entrar {
    font-size: 18px;
    color: rgb(153, 146, 146);
    margin-bottom: 15px;
    text-align: center;
}

#email {
    width: 100%;
    height: 30px;
    font-size: 18px;
}

.btn {
    text-align: center;
    margin-top: 35px;
}


.btn a {
    text-decoration: none;
    background-color: #393939;
    border-radius: 8px;
    padding: 12px;
    color: #fff;
}