<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/cadastro-usuario.css">
    <title>Teste</title>
</head>
<body>
    <header id="header">
        <section class="container">
            <div class="box-header">
                <div id="logo">Dev Store</div>
                <nav id="menu">
                    <a href="inicio.html">Início</a>
                    <a href="loja-virtual.html">Loja Virtual</a>
                    <a href="sobre-nos.html">Sobre nós</a>
                    <a href="contato.html">Contato</a>
                    <a href="minha-conta.html">Minha Conta</a>
                    <a href="#">Carrinho</a>
                </nav>
            </div>
        </section>
    </header>
    <main id="main">
        <section class="container">
            <div class="box-cadastro">
                <div id="titulo">Cadastro de novo cliente</div>
                <div id="obs">Campos marcados com <span class="obrigatorio">*</span> são depreenchimento obrigatório.</div>
                <form id="form-cadastro-usuario">
                    <div>
                        <label for="nome" class="label">*Nome:</label>
                        <input type="text" id="nome" class="input">
                    </div>
                    <div>
                        <label for="sobrenome" class="label">*Sobrenome:</label>
                        <input type="text" id="sobrenome" class="input">
                    </div>
                    <div>
                        <label for="cpf" class="label">*CPF:</label>
                        <input type="text" id="cpf" class="input">
                    </div>
                    <div>
                        <label for="telefone" class="label">*Telefone:</label>
                        <input type="text" id="telefone" class="input">
                    </div>
                    <div>
                        <label for="email" class="label">*E-mail:</label>
                        <input type="text" id="email" class="input">
                    </div>
                    <div>
                        <label for="senha" class="label">*Senha:</label>
                        <input type="password" id="senha" class="input">
                    </div>
                    <div>
                        <label for="confirm-senha" class="label">*Digite novamente:</label>
                        <input type="password" id="confirm-senha" class="input">
                    </div>
                    <div>
                        <label for="perfil-git" class="label">URL GitHub:</label>
                        <input type="text" id="perfil-git" class="input">
                    </div>
                    <div class="btn-position">
                        <input type="button" value="AVANÇAR" id="avancar">
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer id="footer">
        <section class="container">
            <div class="box-footer">
                <div id="sobre">
                    <h2>Dev Store</h2>
                    <p>Uma loja voltada para desenvolvedores, <br> com uma grande diversidade de produtos.</p>
                </div>
                <div id="infos">
                    <h2>Informações</h2>
                    <a href="#">Termos e Condições</a><br>
                    <a href="#">Política de Privacidade</a>
                </div>
                <div id="loja">
                    <h2>Loja</h2>
                    <a href="#">Sobre nós</a> <br>
                    <a href="#">Contato</a>
                </div>
                <div id="contato">
                    <p>E-mail: devstore@devstore.com.br</p>
                    <p>Telefone: 99 99999-9999</p>
                </div>
            </div>
        </section>
        <section class="container">
            <div id="dev">Desenvolvido por Thulio Barbosa</div>
        </section>
    </footer>
</body>
</html>