<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/sobre-nos.css">
    <title>Teste</title>
</head>
<body>
    <header id="header">
        <section class="container">
            <div class="box-header">
                <div id="logo">Dev Store</div>
                <nav id="menu">
                    <a href="inicio.html">Início</a>
                    <a href="loja-virtual.html">Loja Virtual</a>
                    <a href="sobre-nos.html">Sobre nós</a>
                    <a href="contato.html">Contato</a>
                    <a href="minha-conta.html">Minha Conta</a>
                    <a href="#">Carrinho</a>
                </nav>
            </div>
        </section>
    </header>
    <main id="main">
        <section class="container">
            <div class="titulo-sobre box-1120">
                <h2><span>Dev Store</span> é uma loja especializada em acessorios para programadores</h2>
            </div>
            <div class="texto-sobre box-810">
                <p>
                    Nossa jornada começou no ano de 2021, surgiu de um trabalho de conclusão de curso,
                    do bacharelado em Sistemas de informação, pela Libertas Faculdades Integradas,
                    no inicio era apenas a ideia de desenvolver um E-commerce generico, apos o start da
                    implementação a ideia se transformou em uma loja voltada para programadores.
                </p>
            </div>
            <div class="imagens">
                <img src="../assets/10168.jpg" alt="" class="img">
                <img src="../assets/13211.jpg" alt="" class="img">
            </div>
        </section>
    </main>
    <footer id="footer">
        <section class="container">
            <div class="box-footer">
                <div id="sobre">
                    <h2>Dev Store</h2>
                    <p>Uma loja voltada para desenvolvedores, <br> com uma grande diversidade de produtos.</p>
                </div>
                <div id="infos">
                    <h2>Informações</h2>
                    <a href="#">Termos e Condições</a><br>
                    <a href="#">Política de Privacidade</a>
                </div>
                <div id="loja">
                    <h2>Loja</h2>
                    <a href="#">Sobre nós</a> <br>
                    <a href="#">Contato</a>
                </div>
                <div id="contato">
                    <p>E-mail: devstore@devstore.com.br</p>
                    <p>Telefone: 99 99999-9999</p>
                </div>
            </div>
        </section>
        <section class="container">
            <div id="dev">Desenvolvido por Thulio Barbosa</div>
        </section>
    </footer>
</body>
</html>